{% extends 'base.html.twig' %}

{% block title %}Smash Test{% endblock %}

{% block body %}

<section class="articles">
{% for video in videos %}
        <article>
            <h2> {{ video.nom }}</h2>
            <div class="content">
                <img src="{{ asset(video.image) }}" style="width:350px; height:200px;" alt="">
                <p> {{ video.description }} </p>
                <a href="{{ path('blog_show', {'id': video.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
{% endfor %}
</section>


{% endblock %}
