{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium recusandae perspiciatis atque distinctio tempore?</p>
            <p>Delectus magnam beatae alias, dolore perspiciatis cumque ullam temporibus explicabo provident inventore nemo vel minima?</p>
        </div>
    </article>
{% endblock %}