{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h3>{{video.nom}}</h3>
        <div class="content" style="margin-top: 30px; background-color: black;">
            {{video.video | raw }}
        </div>
 </article>

{% endblock %}