{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h2>{{video.nom}}</h2>
        <div class="content">
            <img src="{{asset(video.image)}}" alt="">
            <p>{{video.game}}</p>
            <p>{{video.description}}</p>
        </div>
    </article>
{% endblock %}